@mixin bgPosition($position, $size, $height : 100vh) {
    background-position: $position;
    background-size: $size;
    height: $height;
}
@mixin flex($justify, $align, $direction : row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin btn($bg, $color, $bgHover) {
    background-color: $bg;
    color: $color;
    padding: 10px 40px;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    transition: $transition;
    &:hover {
        background: $bgHover;
    }
}
