@import 'variables';
@import 'mixins';
/************************
basic styles
************************/
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $text;
}
a {
    transition: $transition;
}
.py-5 {
    padding: 100px 0 !important;
}
.underline {
    display: block;
    content: "";
    width: 200px;
    height: 5px;
    background: linear-gradient(to right, $red, $red2, $red3);
    margin: 20px auto;
}
h2 {
    font-size: 3rem;
    &:after {
        @extend .underline;
    }
}
/************************
navbar
************************/
nav {
    img {
        width: 150px;
    }
    .nav-link {
        color: $white;
        text-transform: uppercase;
        &:hover {
            color: $red;
        }
    }
    .active {
        .nav-link {
            color: $red2;
        }
    }
}
/************************
mainHeader
************************/
.mainHeader {
    background-image: linear-gradient(rgba($black, .3), rgba($black, .3)), url(../img/skola-veb-dizajna-header.jpg);
    @include bgPosition(50% 0, cover);
    .container {
        height: 100vh;
        .col-md-4 {
            background-color: rgba($red2, .85);
            flex: 0 0 30%;
            a {
                color: $white;
            }
        }
    }
}
/************************
footer
************************/
footer {
    background-color: $lightgray;
    .container:first-child {
        @include flex(space-between, flex-start);
        border-bottom: 1px solid rgba($text, .2);
        div {
            flex: 0 0 20%;
            img {
                width: 150px;
            }
            a {
                color: $link;
                &:hover {
                    color: $red;
                }
            }
            ul {
                line-height: 2;
            }
            h4 {
                font-size: 1.5rem;
            }
        }
    }
}
/************************
onama
************************/
.onama {
    .col-md-6 {
        flex: 0 0 47%;
    }
}
/************************
kursevi
************************/
.kursevi {
    background-color: $red;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    .card {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        button {
            @include btn($black, $white, $red);
            padding: 10px 20px;
        }
    }
}
/************************
blog
************************/
.blog {
    .card {
        position: relative;
        .meta {
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba($red2, .85);
            p {
                margin-bottom: 0;
                padding: 10px;
                color: $white;
                a {
                    color: $white;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .holder {
            overflow: hidden;
            img {
                transition: transform .5s linear;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .card-body {
            padding: 30px;
            button {
                @include btn($red, $white, $black);
            }
        }
    }
}